.site {
  width: 60%;          /* 80 % šírky stránky */
  margin: 0 auto;      /* centrovanie */
  min-height: 100vh;   /* aspoň výška okna */
  display: flex;
  flex-direction: column;
}

/* Header a footer */
.header{
  background: #f5276c;
  color: white;
  text-align: center;
  padding: 15px;

}

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
 
}

/* Hlavný obsah */
.main {
  flex: 1;
  display: flex;
  /* gap: 15px; medzera medzi panelmi */
  padding: 15px 0;
}

/* Bočné panely */
.sidebar {
  background: #eaeaea;
  padding: 15px;
  flex: 1;            /* každý panel zaberie 1 diel */
}

/* Obsah v strede */
.content {
  background: #fff;
  padding: 15px;
  flex: 7;            /* stredný obsah väčší */
}


.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}


/* Responzívne správanie */
@media (max-width: 768px) {
  .main {
    flex-direction: column; /* pod seba na menších zariadeniach */
  }
}